<ion-header>
    <ion-toolbar>
        <ion-title>
            Add Recomendation
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
  <ion-content>
    <form #f="ngForm" (ngSubmit)="onAdd()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-input type="text" fill="outline" placeholder="brand" ngModel name="brand" required></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" fill="outline" placeholder="laptop" ngModel name="laptop" required></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                
                <ion-col >
                    <ion-list fill="outline">
                        <ion-item>
                          <ion-select interface="popover" placeholder="Select size of the monitor" ngModel name="laptop_size" required>
                            <ion-select-option value="13in">13in</ion-select-option>
                            <ion-select-option value="15in">15in</ion-select-option>
                            <ion-select-option value="17in">17in</ion-select-option>
                            <ion-select-option value="12in">12in</ion-select-option>
                            <ion-select-option value="14in">14in</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" fill="outline" placeholder="Comment.." ngModel name="comment" required></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button type="submit" expand="block" [disabled]="f.invalid" color="warning">Add it</ion-button>
    </form>
   
  </ion-content>
  
  
  